body {
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(14, 28, 76);
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
